In [ ]:
import pandas as pd
import numpy as np
import torch
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import torch.nn as nn
from torch.utils.data import DataLoader , Dataset

In [ ]:
df=pd.read_csv('data.csv')

In [ ]:
df.head()

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,Female,80.0,0,1,never,25.19,6.6,140,0
1,Female,54.0,0,0,No Info,27.32,6.6,80,0
2,Male,28.0,0,0,never,27.32,5.7,158,0
3,Female,36.0,0,0,current,23.45,5.0,155,0
4,Male,76.0,1,1,current,20.14,4.8,155,0

In [ ]:
df.isnull().sum().sum()

np.int64(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 9 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   gender               100000 non-null  object
 1   age                  100000 non-null  float64
 2   hypertension         100000 non-null  int64
 3   heart_disease        100000 non-null  int64
 4   smoking_history      100000 non-null  object
 5   bmi                  100000 non-null  float64
 6   HbA1c_level          100000 non-null  float64
 7   blood_glucose_level  100000 non-null  int64
 8   diabetes             100000 non-null  int64
dtypes: float64(3), int64(4), object(2)
memory usage: 6.9+ MB

In [ ]:
df['gender'].value_counts()

gender
Female    58552
Male      41430
Other        18
Name: count, dtype: int64

In [ ]:
df['smoking_history'].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [ ]:
df['diabetes'].value_counts()

diabetes
0    91500
1     8500
Name: count, dtype: int64

In [ ]:
df['gender']=df['gender'].map({'Female':0,'Male':1,'Other':2})

In [ ]:
smoking_map = {
    'never': 0,
    'former': 1,
    'not current': 1,
    'current': 2,
    'ever': 2,
    'No Info': -1
}

df['smoking_history']=df['smoking_history'].map(smoking_map)

In [ ]:
df.head(2)

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level,diabetes
0,0,80.0,0,1,0,25.19,6.6,140,0
1,0,54.0,0,0,-1,27.32,6.6,80,0

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(df.iloc[:,0:-1],df.iloc[:,-1],test_size=0.4,random_state=42)

In [ ]:
X_train

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
40507,1,45.0,0,0,2,30.51,4.5,80
72707,1,1.8,0,0,-1,18.42,6.1,160
90912,1,26.0,0,0,2,26.66,6.5,145
28532,1,40.0,0,0,2,32.50,5.7,158
13006,1,67.0,0,0,0,38.52,5.8,240
...,...,...,...,...,...,...,...,...
6265,1,49.0,0,0,0,32.98,5.7,80
54886,0,15.0,0,0,0,28.10,5.0,159
76820,1,42.0,0,0,0,26.14,5.8,85
860,0,37.0,0,0,0,24.96,6.2,158
15795,0,23.0,0,0,0,27.99,5.0,159

In [ ]:
X_test

,gender,age,hypertension,heart_disease,smoking_history,bmi,HbA1c_level,blood_glucose_level
75721,0,13.0,0,0,-1,20.82,5.8,126
80184,0,3.0,0,0,-1,21.00,5.0,145
19864,1,63.0,0,0,1,25.32,3.5,200
76699,0,2.0,0,0,0,17.43,6.1,126
92991,0,33.0,0,0,1,40.08,6.2,200
...,...,...,...,...,...,...,...,...
84191,0,31.0,0,0,-1,31.07,6.1,126
4373,1,8.0,0,0,-1,27.32,6.2,85
57452,1,11.0,0,0,-1,17.55,6.2,126
31042,0,56.0,0,0,0,34.13,3.5,140
40093,0,26.0,0,0,0,21.80,3.5,155

In [ ]:
y_train

40507    0
72707    0
90912    0
28532    0
13006    1
        ..
6265     0
54886    0
76820    0
860      0
15795    0
Name: diabetes, Length: 60000, dtype: int64

In [ ]:
y_test

75721    0
80184    0
19864    0
76699    0
92991    1
        ..
84191    0
4373     0
57452    0
31042    0
40093    0
Name: diabetes, Length: 40000, dtype: int64

In [ ]:
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [ ]:
X_train

array([[ 1.18406932,  0.13802491, -0.28757652, ...,  0.48181362,
        -0.96227703, -1.42654102],
       [ 1.18406932, -1.78213456, -0.28757652, ..., -1.3484201 ,
         0.53297469,  0.53325021],
       [ 1.18406932, -0.70648967, -0.28757652, ..., -0.10101515,
         0.90678762,  0.16578936],
       ...,
       [ 1.18406932,  0.00468051, -0.28757652, ..., -0.17973488,
         0.25261499, -1.30405407],
       [-0.84281035, -0.21756017, -0.28757652, ..., -0.35836811,
         0.62642792,  0.48425543],
       [-0.84281035, -0.83983408, -0.28757652, ...,  0.1003257 ,
        -0.49501087,  0.50875282]])

In [ ]:
type(X_train)

numpy.ndarray

In [ ]:
type(y_train)

pandas.core.series.Series

In [ ]:
X_train_tensor=torch.from_numpy(X_train)
X_test_tensor=torch.from_numpy(X_test)
y_train_tensor = torch.tensor(y_train.values)
y_test_tensor = torch.tensor(y_test.values)

In [ ]:
type(y_test_tensor)

torch.Tensor

In [ ]:
X_train.shape[1]

8

In [ ]:
class Custom(Dataset):
  def __init__(self,train_data,valid_data):
    self.train_data=train_data
    self.valid_data=valid_data

  def __len__(self):
    return self.train_data.shape[1]

  def __getitem__(self,index):
    return self.train_data[index] , self.valid_data[index]

In [ ]:
dataset=Custom(X_train_tensor,y_train_tensor)

In [ ]:
test_dataset=Custom(X_test_tensor,y_test_tensor)

In [ ]:
dataloader=DataLoader(dataset,batch_size=50,shuffle=True)

In [ ]:
test_dataloader=DataLoader(test_dataset,batch_size=50,shuffle=False)

In [ ]:
class MyNet(nn.Module):
  def __init__(self,train_len):
    super().__init__()
    self.model=nn.Sequential(
        nn.Linear(8,128),
        nn.ReLU(),
        nn.Linear(128,10),
        nn.Tanh(),
        nn.Linear(10,1),
        nn.Sigmoid()
    )

  def forward(self,data):
    return self.model(data)

In [ ]:
model=MyNet(X_train_tensor[1])

In [ ]:
epochs=100
learning_rate=1e-4
loss_fn=nn.BCELoss()
optimizer=torch.optim.SGD(model.parameters(),lr=learning_rate)

In [ ]:
for i in range(epochs):
  for batch_data,valid_data in dataloader:
    batch_data=batch_data.float()
    valid_data=valid_data.float()
    y_pred=model(batch_data)
    y_pred = y_pred.squeeze(1)
    loss=loss_fn(y_pred,valid_data)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
  print(f'Epoch: {i + 1}, Loss: {loss.item()}')

Epoch: 1, Loss: 0.6010421514511108
Epoch: 2, Loss: 0.600995659828186
Epoch: 3, Loss: 0.600949227809906
Epoch: 4, Loss: 0.6009026765823364
Epoch: 5, Loss: 0.6008561849594116
Epoch: 6, Loss: 0.6008098125457764
Epoch: 7, Loss: 0.6007633209228516
Epoch: 8, Loss: 0.6007168292999268
Epoch: 9, Loss: 0.6006704568862915
Epoch: 10, Loss: 0.6006240844726562
Epoch: 11, Loss: 0.600577712059021
Epoch: 12, Loss: 0.600531280040741
Epoch: 13, Loss: 0.6004849076271057
Epoch: 14, Loss: 0.6004385352134705
Epoch: 15, Loss: 0.6003921031951904
Epoch: 16, Loss: 0.6003457903862
Epoch: 17, Loss: 0.6002994775772095
Epoch: 18, Loss: 0.6002531051635742
Epoch: 19, Loss: 0.6002068519592285
Epoch: 20, Loss: 0.6001604795455933
Epoch: 21, Loss: 0.6001142263412476
Epoch: 22, Loss: 0.6000679731369019
Epoch: 23, Loss: 0.6000216603279114
Epoch: 24, Loss: 0.5999754667282104
Epoch: 25, Loss: 0.59992915391922
Epoch: 26, Loss: 0.5998829007148743
Epoch: 27, Loss: 0.5998367071151733
Epoch: 28, Loss: 0.5997904539108276
Epoch: 29, Loss: 0.5997442603111267
Epoch: 30, Loss: 0.5996980667114258
Epoch: 31, Loss: 0.5996518731117249
Epoch: 32, Loss: 0.5996057391166687
Epoch: 33, Loss: 0.5995595455169678
Epoch: 34, Loss: 0.5995134115219116
Epoch: 35, Loss: 0.5994672179222107
Epoch: 36, Loss: 0.5994211435317993
Epoch: 37, Loss: 0.5993749499320984
Epoch: 38, Loss: 0.599328875541687
Epoch: 39, Loss: 0.5992827415466309
Epoch: 40, Loss: 0.5992367267608643
Epoch: 41, Loss: 0.5991905927658081
Epoch: 42, Loss: 0.5991445779800415
Epoch: 43, Loss: 0.5990984439849854
Epoch: 44, Loss: 0.5990524291992188
Epoch: 45, Loss: 0.5990064144134521
Epoch: 46, Loss: 0.5989603996276855
Epoch: 47, Loss: 0.5989143252372742
Epoch: 48, Loss: 0.5988683700561523
Epoch: 49, Loss: 0.5988224148750305
Epoch: 50, Loss: 0.5987763404846191
Epoch: 51, Loss: 0.5987304449081421
Epoch: 52, Loss: 0.5986844301223755
Epoch: 53, Loss: 0.5986385345458984
Epoch: 54, Loss: 0.5985925197601318
Epoch: 55, Loss: 0.5985466837882996
Epoch: 56, Loss: 0.5985007286071777
Epoch: 57, Loss: 0.5984547734260559
Epoch: 58, Loss: 0.5984089374542236
Epoch: 59, Loss: 0.5983629822731018
Epoch: 60, Loss: 0.5983171463012695
Epoch: 61, Loss: 0.5982713103294373
Epoch: 62, Loss: 0.598225474357605
Epoch: 63, Loss: 0.5981795787811279
Epoch: 64, Loss: 0.5981338620185852
Epoch: 65, Loss: 0.5980879664421082
Epoch: 66, Loss: 0.5980421304702759
Epoch: 67, Loss: 0.5979963541030884
Epoch: 68, Loss: 0.5979505777359009
Epoch: 69, Loss: 0.5979047417640686
Epoch: 70, Loss: 0.5978590250015259
Epoch: 71, Loss: 0.5978133082389832
Epoch: 72, Loss: 0.5977674722671509
Epoch: 73, Loss: 0.5977218151092529
Epoch: 74, Loss: 0.5976760983467102
Epoch: 75, Loss: 0.5976303219795227
Epoch: 76, Loss: 0.5975846648216248
Epoch: 77, Loss: 0.597538948059082
Epoch: 78, Loss: 0.5974932312965393
Epoch: 79, Loss: 0.5974476337432861
Epoch: 80, Loss: 0.5974019169807434
Epoch: 81, Loss: 0.5973563194274902
Epoch: 82, Loss: 0.5973106622695923
Epoch: 83, Loss: 0.5972650051116943
Epoch: 84, Loss: 0.5972194671630859
Epoch: 85, Loss: 0.597173810005188
Epoch: 86, Loss: 0.5971282124519348
Epoch: 87, Loss: 0.5970826148986816
Epoch: 88, Loss: 0.5970370769500732
Epoch: 89, Loss: 0.5969914793968201
Epoch: 90, Loss: 0.5969458818435669
Epoch: 91, Loss: 0.5969004034996033
Epoch: 92, Loss: 0.5968548655509949
Epoch: 93, Loss: 0.5968093276023865
Epoch: 94, Loss: 0.5967637896537781
Epoch: 95, Loss: 0.5967183113098145
Epoch: 96, Loss: 0.5966728329658508
Epoch: 97, Loss: 0.5966273546218872
Epoch: 98, Loss: 0.5965818762779236
Epoch: 99, Loss: 0.5965364575386047
Epoch: 100, Loss: 0.5964909791946411

In [ ]:
for i in range(epochs):
  for batch_data,valid_data in test_dataloader:
    batch_data=batch_data.float()
    valid_data=valid_data.float()
    y_pred=model(batch_data)
    y_pred = y_pred.squeeze(1)
    loss=loss_fn(y_pred,valid_data)
    optimizer.zero_grad()
    loss.backward()
    optimizer.step()
  print(f'Epoch: {i + 1}, Loss: {loss.item()}')

Epoch: 1, Loss: 0.6132287979125977
Epoch: 2, Loss: 0.6131813526153564
Epoch: 3, Loss: 0.61313396692276
Epoch: 4, Loss: 0.6130865812301636
Epoch: 5, Loss: 0.6130391359329224
Epoch: 6, Loss: 0.6129917502403259
Epoch: 7, Loss: 0.6129443049430847
Epoch: 8, Loss: 0.6128969788551331
Epoch: 9, Loss: 0.6128496527671814
Epoch: 10, Loss: 0.6128022074699402
Epoch: 11, Loss: 0.6127549409866333
Epoch: 12, Loss: 0.6127074956893921
Epoch: 13, Loss: 0.61266028881073
Epoch: 14, Loss: 0.6126129031181335
Epoch: 15, Loss: 0.6125655770301819
Epoch: 16, Loss: 0.612518310546875
Epoch: 17, Loss: 0.6124710440635681
Epoch: 18, Loss: 0.6124237775802612
Epoch: 19, Loss: 0.6123764514923096
Epoch: 20, Loss: 0.6123291254043579
Epoch: 21, Loss: 0.6122819185256958
Epoch: 22, Loss: 0.6122347116470337
Epoch: 23, Loss: 0.6121874451637268
Epoch: 24, Loss: 0.6121401786804199
Epoch: 25, Loss: 0.6120929718017578
Epoch: 26, Loss: 0.6120457649230957
Epoch: 27, Loss: 0.6119986176490784
Epoch: 28, Loss: 0.6119514107704163
Epoch: 29, Loss: 0.6119042038917542
Epoch: 30, Loss: 0.6118570566177368
Epoch: 31, Loss: 0.6118099093437195
Epoch: 32, Loss: 0.6117627620697021
Epoch: 33, Loss: 0.6117156147956848
Epoch: 34, Loss: 0.6116684675216675
Epoch: 35, Loss: 0.6116213202476501
Epoch: 36, Loss: 0.6115742921829224
Epoch: 37, Loss: 0.611527144908905
Epoch: 38, Loss: 0.6114801168441772
Epoch: 39, Loss: 0.6114329695701599
Epoch: 40, Loss: 0.6113858819007874
Epoch: 41, Loss: 0.6113388538360596
Epoch: 42, Loss: 0.6112917065620422
Epoch: 43, Loss: 0.6112447381019592
Epoch: 44, Loss: 0.6111976504325867
Epoch: 45, Loss: 0.6111506223678589
Epoch: 46, Loss: 0.6111036539077759
Epoch: 47, Loss: 0.6110566258430481
Epoch: 48, Loss: 0.6110095977783203
Epoch: 49, Loss: 0.6109626293182373
Epoch: 50, Loss: 0.6109156012535095
Epoch: 51, Loss: 0.6108685731887817
Epoch: 52, Loss: 0.6108216643333435
Epoch: 53, Loss: 0.6107747554779053
Epoch: 54, Loss: 0.610727846622467
Epoch: 55, Loss: 0.6106808185577393
Epoch: 56, Loss: 0.610633909702301
Epoch: 57, Loss: 0.6105870008468628
Epoch: 58, Loss: 0.6105400919914246
Epoch: 59, Loss: 0.6104931831359863
Epoch: 60, Loss: 0.6104462742805481
Epoch: 61, Loss: 0.6103994846343994
Epoch: 62, Loss: 0.6103525161743164
Epoch: 63, Loss: 0.6103057265281677
Epoch: 64, Loss: 0.6102588176727295
Epoch: 65, Loss: 0.610211968421936
Epoch: 66, Loss: 0.6101651191711426
Epoch: 67, Loss: 0.6101183295249939
Epoch: 68, Loss: 0.6100715398788452
Epoch: 69, Loss: 0.6100246906280518
Epoch: 70, Loss: 0.6099779009819031
Epoch: 71, Loss: 0.6099311113357544
Epoch: 72, Loss: 0.6098843812942505
Epoch: 73, Loss: 0.6098375916481018
Epoch: 74, Loss: 0.6097908020019531
Epoch: 75, Loss: 0.6097440123558044
Epoch: 76, Loss: 0.6096972227096558
Epoch: 77, Loss: 0.6096505522727966
Epoch: 78, Loss: 0.6096038818359375
Epoch: 79, Loss: 0.6095572113990784
Epoch: 80, Loss: 0.6095104217529297
Epoch: 81, Loss: 0.6094637513160706
Epoch: 82, Loss: 0.6094170808792114
Epoch: 83, Loss: 0.6093703508377075
Epoch: 84, Loss: 0.6093237400054932
Epoch: 85, Loss: 0.6092770099639893
Epoch: 86, Loss: 0.6092304587364197
Epoch: 87, Loss: 0.6091837882995605
Epoch: 88, Loss: 0.6091371178627014
Epoch: 89, Loss: 0.6090905666351318
Epoch: 90, Loss: 0.6090438365936279
Epoch: 91, Loss: 0.6089972853660583
Epoch: 92, Loss: 0.6089507341384888
Epoch: 93, Loss: 0.6089041233062744
Epoch: 94, Loss: 0.6088575124740601
Epoch: 95, Loss: 0.6088109612464905
Epoch: 96, Loss: 0.6087644100189209
Epoch: 97, Loss: 0.6087177991867065
Epoch: 98, Loss: 0.6086713075637817
Epoch: 99, Loss: 0.6086248159408569
Epoch: 100, Loss: 0.6085782647132874

In [ ]:
model.eval()

MyNet(
  (model): Sequential(
    (0): Linear(in_features=8, out_features=128, bias=True)
    (1): ReLU()
    (2): Linear(in_features=128, out_features=10, bias=True)
    (3): Tanh()
    (4): Linear(in_features=10, out_features=1, bias=True)
    (5): Sigmoid()
  )
)

In [ ]:
total = 0
correct = 0

for batch_features, batch_labels in dataloader:
  batch_features=batch_features.float()
  outputs = model(batch_features)
  _, predicted = torch.max(outputs, 1)
  total += batch_labels.size(0)
  correct += (predicted == batch_labels).sum().item()

accuracy = correct / total
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.8750

In [ ]:
total = 0
correct = 0

for batch_features, batch_labels in test_dataloader:
  batch_features=batch_features.float()
  outputs = model(batch_features)
  _, predicted = torch.max(outputs, 1)
  total += batch_labels.size(0)
  correct += (predicted == batch_labels).sum().item()

accuracy = correct / total
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.8750